//default button
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:13px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%; 
  text-align: center;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

/////////////////////////////////
//button one
///////////////////////////////
/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  font-weight: 100;
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
  color: $white;
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

/*****/

.link-basic{
    &:hover{
        color: $acento;
    }
}

.social-icon{
  float: left;
  height: 20px;
  padding-left: 10%;
}
.close{
    color: $white;
    opacity: 1;
}






#btn-logout{
   background: $acento;
   font-size: 12px;
   border: 0;
   border-radius: 3px;
   font-weight: bold;
   text-transform: uppercase;
   position: absolute;
   left: 100px;
   bottom: 0px;
   z-index: 55;
   @include bp-small {
    font-size: 10px;
   }
}


.button-share{
  text-align: center;
  .btn-main{
    height: 50px;
    padding: 5px 15px;
    line-height: 35px;
  }
  .social-icon{
    margin-top: 7px;
    padding-right: 10px;
  }
}



